.messageTable {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  border: none;
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  width: 100%;

  div.table-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem 1rem 0 1rem;
  }

  .table-title h3 {
    color: #4e5066;
  }

  .no-data {
    margin-top: 1rem;
    font-weight: 700;
  }

  /*** Table Styles **/

  .table-fill {
    margin: auto;
    padding: 0 1rem 1rem 1rem;
    height: 22vh;
    overflow-y: scroll;
  }

  table {
    width: 100%;
    border-spacing: 5px;
  }

  thead {
    td {
      font-size: 0.9rem;
      &:not(:last-child) {
        min-width: 90px;
      }
      span {
        padding-left: 5px;
      }
    }
    td.span-sort.sorted {
      span {
        color: red;
      }
    }
    td.span-sort {
      cursor: pointer;
    }
  }

  tbody {
    font-size: small;
    font-weight: 300;

    tr:hover td {
      background: #9699af;
    }

    tr:nth-child(odd) td {
      background: #eaeaee;
    }
    tr:nth-child(odd):hover td {
      background: #9699af;
    }

    td {
      background: #ffffff;
      padding: 5px;
      text-align: left;
      vertical-align: middle;
      border-radius: 5px;
      border: none;
      height: 50px;
    }
  }
}
