.messageTable {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  border: none;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  align-items: stretch;
  padding: 5px;

  div.table-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-top: 1px dotted #a2a2a2;
    width: 99%;
    padding: 10px 5px;

    .pagination {
      padding-left: 1rem;
      text-align: right;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-content: center;
      align-items: center;

      .page-number {
        margin: 0 5px;
        font-weight: 500;
      }

      button {
        width: fit-content;
        padding: 4px 8px;
        border-radius: 5px;
        margin: 0 2px;
        font-weight: 200;
        border: 1px solid rgb(184, 184, 184);
        color: rgb(108, 108, 108);

        &:hover {
          color: #fff;
          background-color: #777;
          border-color: #777;
          cursor: pointer;
        }

        &:disabled {
          color: rgb(186, 186, 186);
          background-color: rgb(255, 255, 255);
          border: none;
          cursor: not-allowed;
        }
      }
    }

    input {
      height: 100%;
      font-size: 1rem;
      padding: 5px 10px;
      min-width: 200px;
    }

    // Hide search drop-down
    .react-search-box-dropdown {
      display: none;
    }
  }

  .no-data {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 10%;
    font-weight: 700;
  }

  /*** Table Styles **/

  .table-fill {
    margin: 5px 0 0 5px;
    height: 85%;
    overflow: auto;

    table {
      width: 100%;
      padding-bottom: 5px;
    }

    thead {
      position: sticky;
      top: 0;
      z-index: 1;
      border: none;
      background-color: #ffffff;

      th {
        font-size: 0.75rem;
        padding: 0px 5px 2px 0px;

        span {
          padding-left: 5px;
        }
      }
      th.span-sort.sorted {
        span {
          color: red;
        }
      }
      th.span-sort {
        cursor: pointer;
      }
    }

    tbody {
      font-size: 0.75rem;
      font-weight: 300;

      tr:hover td {
        background: #9699af;
      }

      tr:nth-child(odd) td {
        background: #eaeaee;
      }
      tr:nth-child(odd):hover td {
        background: #9699af;
      }

      td {
        background: #ffffff;
        padding: 0.2rem 0.5rem;
        text-align: left;
        vertical-align: middle;
        border-radius: 5px;
        border: none;
      }
    }
  }

  .search {
    font-weight: 700;
  }
}
