* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'variables';
@import 'dashboard';
@import 'map';

body {
  background: $background;
  overflow-x: hidden;
  color: $text-color;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.app {
  width: 100vw;
  height: 100vh;
}
